@page "/extras/{IsPlayMusic:bool}"

<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100 main-menu">

    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <h1>Extras</h1>

    <ul class="planets-container m-2">
        @foreach (var planet in planets)
        {
            <li class="planet">
                <PlanetComponent Planet="planet" IsPlayMusic="IsPlayMusic"/>
            </li>
        }
    </ul>

    <NavLink href="@($"/{IsPlayMusic}")" class="cursor-pointer">
        <Button Text="Back">
        </Button>
    </NavLink>
</div>

<MusicPlayer Track="WishYou" PlayMusic="IsPlayMusic" />

@code {
    [Parameter]
    public bool IsPlayMusic { get; set; }

    private List<Planet> planets;

    public Extras()
    {
        string rootpath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "wwwroot");
        using (StreamReader r = new StreamReader(rootpath + "/database/planets.json"))
        {
            string json = r.ReadToEnd();
            var planetsTemp = JsonConvert.DeserializeObject<List<Planet>>(json);
            planets = planetsTemp.Where(p => p.Index >= 100).ToList();
        }
    }
}
